/* Lista de estudiantes */

.table-container {
    height: 10em;
    display: none;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
    border-bottom: .5px solid gray;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}






.title-list-s, .title-list-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.title-list-s i, .title-list-p i {
    margin: 0 2rem 0 0;
    padding: .75rem;
    border-radius: 50%;
    transition: ease-out .2s;
}
.title-list-s i:hover, .title-list-p i:hover {
    background: #D6D6D6;
}