@{
    ViewData["Title"] = "Agregar estudiante";
    Layout = "_Layout";
}
@model Plataforma.Models.Administracion.AdministracionViewModel

<link rel="stylesheet" href="~/css/administrador/estudiantes/agregar.css" asp-append-version="true" />


<div class="container-custom">
    <h1 class="page-title">Agregar Estudiante</h1> 

    <hr /> 

    <div>
        <form asp-controller="Estudiantes" asp-action="Create" method="post" class="app-form">
            <div asp-validation-summary="ModelOnly" class="text-danger-summary"></div>

            <div class="form-group">
                <label asp-for="RegistroEstudiante.Nombre" class="control-label"></label>
                <input asp-for="RegistroEstudiante.Nombre" class="form-control">
                <span asp-validation-for="RegistroEstudiante.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistroEstudiante.Apellido" class="control-label"></label>
                <input asp-for="RegistroEstudiante.Apellido" class="form-control">
                <span asp-validation-for="RegistroEstudiante.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistroEstudiante.Email" class="control-label"></label>
                <input asp-for="RegistroEstudiante.Email" class="form-control">
                <span asp-validation-for="RegistroEstudiante.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistroEstudiante.Password" class="control-label">Contraseña</label>
                <input asp-for="RegistroEstudiante.Password" class="form-control" type="password" />
                <span asp-validation-for="RegistroEstudiante.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistroEstudiante.ConfirmPassword" class="control-label">Confirmar contraseña</label>
                <input asp-for="RegistroEstudiante.ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="RegistroEstudiante.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Agregar" class="btn btn-primary" /> @* Used standard btn classes *@
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}