@{
    ViewData["Title"] = "Bienvenido";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


<div class="header-container-cfp">
    <img src="/images/fondo.jpg" alt="Centro de formación" class="header-image-cfp" />
    <h1 class="main-title-cfp">Centro de Formación Pablo Navajas Artaza</h1>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>